//Colors
$white-color: #fff;

// Body
$body-bg: $white-color;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$light-green-color: rgb(108, 190, 112);

