// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right: 20px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }

    .vote, .answer {
        width: 60px;
        height: 60px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $light-green-color;
            color: $light-green-color;
        }

        &.answered-marked {
            background: $light-green-color;
            color: $white-color;
        }
    }
    .view {
        margin-top: 10px;
    }
}

form.form-delete {
    display: inline;
}

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;

    span, a {
        display: block;
        color: #495057;
    }

    span {
        &.votes-count {
            font-size: 25px;
        }
        &.favorites-count {
            font-size: 12px;
        }
    }

    a {
        cursor: pointer;
        color: $gray-600;

        &.off, &.off:hover {
            color: $gray-500;
        }

        &.favorite {
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }

        &.answer-accepted {
            color: $green;
        }
    }
}

.mark-answer {
    display: none;
}

.navigation-menu {
    background-color: #84A9E3;
}

.app-logo {
    width: 50px;
}

.login-form, .register-form {
    margin-top: 100px;
    margin-bottom: 100px;
}

.questions-block {
    margin-bottom: 150px;
}

.vote-controls a.cursor-not-allowed {
    cursor: not-allowed;
}

.my-favorites {
    margin-left: 40px;
}

.home-button {
    font-size: 20px;
    margin-left: 3rem;
}

.back-home {
    display: flex;
    align-items: center;
    justify-content: center;
}
